$backgroundLight: #dcdcdc;
$backgroundDark: #777777;
$textWhite: #ffffff;
$textBlack: #000000;

@mixin block($bcgColor, $textColor) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  color: $textColor;
  background-color: $bcgColor;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.57142857143rem;
}
